<h1>お店ごとの買い物リスト</h1>

<% @shops.each do |shop| %>
  <h2><%= shop.name %></h2>

  <ul>
  <% shop.items.each do |item| %>
    <% unless item.checked %>
      <li>
      <%= form_with model: item, url: item_path(item.id), method: :patch, local: true do |form| %>
        <%= form.check_box :checked, { onchange: "this.form.submit();" }, "true", "false" %>
        <%= form.label :checked, item.item_name %>
      <% end %>
      </li>
    <% end %>
  <% end %>
  </ul>

<% end %>