<%# <%= render "shared/header" %> %>
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      かうリス
    </h2>
  </div>

  <div class='categories-contents'>
    <h2 class='title'>カテゴリー</h2>
    <ul class='category-lists'>
      <% @categories.each do |category| %>
        <li class='list'>
          <%= link_to category_path(category.id) do %>
         
          <div class='category-info'>
            <h3 class='category-name'>
              <%= category.name %>
            </h3>
          </div>

          <% end %>
        </li>
      <% end %>

    </ul>
  </div>
</div>

<%# <%= render "shared/footer" %> %>
