<%# <%= render "shared/header" %> %>
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      かうリス
    </h2>
  </div>

  <div class='categories-contents'>
    <h2 class='title'><%= @category.name %></h2>
    <ul class='category-lists'>
      <% @category.items.each do |item| %>
        <li class='list'>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= item.item_name %>
            </h3>
          </div>
        </li>
      <% end %>

    </ul>
  </div>
</div>

<%# <%= render "shared/footer" %> %>